--
-- PostgreSQL database dump
--

-- Dumped from database version 10.5
-- Dumped by pg_dump version 10.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_with_oids = false;

--
-- Name: tabla1; Type: TABLE; Schema: public; Owner: macaco
--

CREATE TABLE public.tabla1 (
    id integer NOT NULL,
    salario integer
);


ALTER TABLE public.tabla1 OWNER TO macaco;

--
-- Data for Name: tabla1; Type: TABLE DATA; Schema: public; Owner: macaco
--

COPY public.tabla1 (id, salario) FROM stdin;
2	500000
3	25000
\.


--
-- Name: tabla1 tabla1_pkey; Type: CONSTRAINT; Schema: public; Owner: macaco
--

ALTER TABLE ONLY public.tabla1
    ADD CONSTRAINT tabla1_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

